<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script|Ovo" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm-4 offset-sm-4">
					<a href="/"><img id="headerLogo" src="assets/glassbrook-logo.png"></a>
				</div>
			</div>
			<div class="row" id="headerBtnRow">
				<div class="col-sm-4 offset-sm-4">
					<a href="/about"><div class="headerBtn" id="firstHeaderbtn">About</div></a>
					<a href="/concerts"><div class="headerBtn">Concerts</div></a>
					<a href="/donate"><div class="headerBtn">Donate</div></a>
					<a href="/contact"><div class="headerBtn">Contact</div></a>
				</div>
			</div>
			<div class="row" id="buttonBorder">
			</div>
			{{{ body }}}
		</div>
		<footer>
			<div class="row">
				<div class="col-lg-4 offset-lg-5">
					<a href="https://www.facebook.com/glassbrookvocal/"><img class="mediaIcon" src="assets/facebook.png"></a>
					<a href="https://www.instagram.com/glassbrookvocal/"><img class="mediaIcon" src="assets/instagram.png"></a>
					<a href="https://www.linkedin.com/company/11136723/"><img class="mediaIcon" src="assets/linkedin.png"></a>
					<a href="https://www.youtube.com/channel/UCEmdjt4llBp2qhjifq_wNuw"><img class="mediaIcon" src="assets/youtube.png"></a>
				</div>
			</div>
	</body>
	<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
	<script type="text/javascript" src="js/logic.js"></script>
</html>