<div class="row" id="aboutDescription">
	<div class="col-lg-10 offset-lg-1">
		<p>The Glassbrook Vocal Ensemble is an emerging professional choir. We seek to serve our arts community by supplying the highest caliber of choral music-making to the needs of the Greater New Jersey and Trenton areas. Glassbrook seeks not only to serve our audiences, but to also promote the endeavors of both professional and amateur artists through collaboration.</p>
	</div>
</div>
<div class="row" id="bioTabRow">
	<div class="col-lg-2 offset-lg-1">
		<div class="bioTab" id="directorTab">Directors</div>
	</div>
	<div class="col-lg-2">
		<div class="bioTab" id="singerTab">Singers</div>
	</div>
</div>
<div class="row" id="directorBioSection">
	<div class="col-lg-4 offset-lg-1">
		<div class="row">
			<img src="assets/chaequan-anderson.jpg" class="bioPicture">
		</div>
		<div class="row bioName">
			<div>Chaequan Anderson</div>
		</div>
		<div class="row bioTitle">
			<div>Artistic Director & Co-founder</div>
		</div>
		<div class="row bioDescription">
			<p>Chaequan Anderson is an American tenor, keyboardist, conductor, and teacher. He holds a Bachelor of Arts in Music from Westminster Choir College of Rider University where he studied the choral arts, vocal performance, conducting, and music education. With the Westminster Symphonic Choir, he sang Beethoven’s 9th Symphony with Philadelphia Orchestra and Berlin Philharmonic at Carnegie Hall. He also sang Gustav Mahler’s Resurrection Symphony No. 2 with the Philadelphia Orchestra. With the Westminster Choir, Chaequan performed in one of the first fully staged performances of John Adam’s El Niño at Spoleto Festival USA in Charleston, South Carolina. Chaequan made his professional solo debut as the tenor soloist in Mozart’s Requiem Mass with the VOICES Chorale of Hopewell.</p>
			<p>As a teacher and conductor, Chaequan has held fellowship positions the Princeton Girlchoir (PGC) and Assistant Conductor of the Training choir with the Trenton Children’s Chorus (TCC). Chaequan was also the Choirmaster for the Rho Kappa Chapter of Phi Mu Alpha Sinfonia Fraternity (PMA), America’s largest male music fraternity. Currently, Chaequan serves as the Organist at Neshanic United Methodist Church and Middle School Music Teacher for the Christina Seix Academy in Trenton, NJ.​ Starting this coming fall, Mr. Anderson will serve as the Middle School Choir Director for the Montclair Kimberley Academy in Monclair, NJ.</p>
		</div>
	</div>
	<div class="col-lg-4 offset-lg-1">
		<div class="row">
			<img src="assets/emily-vite.png" class="bioPicture">
		</div>
		<div class="row bioName">
			<div>Emily Vite</div>
		</div>
		<div class="row bioTitle">
			<div>Executive Director & Co-founder</div>
		</div>
		<div class="row bioDescription">
			<p>Emily Vite is a teacher, conductor, composer, and pianist. She received her Bachelor of Music in Theory and Composition from St. Olaf College in Northfield, Minnesota. During her time at St. Olaf, she served as the alto section leader for the prestigious St. Olaf Choir, participating in two domestic tours as well as an international tour to Norway in celebration of the 100th year of the founding of the ensemble. She is featured in several of the choir’s PBS productions, including the Emmy award-winning "Christmas in Norway with the St. Olaf Choir". As a teacher and conductor, Emily served as the Assistant Conductor for the VOICES Chorale of Hopewell and is currently the Concert Manager and Director of the Readiness Choir for the Trenton Children’s Chorus. Emily serves as a collaborative pianist and piano teacher throughout the area, including for the Chapin School in Princeton. She also teaches group piano at Westminster Choir College’s Middle School Summer Vocal Institute.</p>
		</div>>
	</div>
</div>
<div class="row">
	<div class="col-lg-10 offset-lg-1" id="singerBioSection">
		<div class="row">
			<img src="assets/choir/alexa-a.jpeg" class="singerPic alexaA">
			<img src="assets/choir/bess-p.jpg" class="singerPic bessP">
			<img src="assets/choir/brandon-e.jpg" class="singerPic brandonE">
			<img src="assets/choir/jessica-k.jpg" class="singerPic jessicaK">
			<img src="assets/choir/jon-f.jpg" class="singerPic jonF">
			<img src="assets/choir/kristin-h.jpg" class="singerPic kristinH">
			<img src="assets/choir/lauren-k.jpg" class="singerPic laurenK">
		</div>
		<div class="row">
			<img src="assets/choir/lucas-d.jpg" class="singerPic lucasD">
			<img src="assets/choir/mary.jpg" class="singerPic mary">
			<img src="assets/choir/micheal-s.jpg" class="singerPic michealS">
			<img src="assets/choir/samantha.jpg" class="singerPic samantha">
			<img src="assets/choir/sergey-t.jpg" class="singerPic sergeyT">
			<img src="assets/choir/tom-l.jpg" class="singerPic tomL">
		</div>
		<div class="row">
			<p class="singerBio alexaA">Alexa Agourides is a recent graduate of Westminster Choir College ('17, '15) where she received her MM in Voice Performance & Pedagogy and her BM in Voice Performance. She recently performed the role of Suor Genovieffa in Puccini's Suor Angelica at Westminster and was a member of the Philadelphia Symphonic Choir for its debut performance, Carmina Burana. Upcoming performances include Mahler 3 with the Philadelphia Symphonic Choir.</p>
			<p class="singerBio bessP">Bess Anne Ploener is a music teacher in the Lawrence Township Public School system in Lawrenceville, NJ. She teaches strings, general music and chorus to fourth through sixth graders. She is also a teaching artist with the McCarter theatre in Princeton, NJ. There she creates and implements curriculum in storytelling, musical theater and playmaking for students ranging from first grade to high school. She has performed with the Westminster Symphonic Choir at the Kimmel Center and Carnegie Hall, as well as with the Westminster Williamson Voices at the Alice Tully Hall in New York City and in Oxford, England. Ms. Ploener still actively sings with her church choir in Bedminster, NJ as well as additional choirs in the area. She is thrilled to be joining the Glassbrook Vocal Ensemble in their inaugural season.</p>
			<p class="singerBio brandonE">Brandon Ellsworth, conductor, teacher, pianist, and composer currently serves as a vocal music teacher and conductor at the nation's original public performing arts school, Arts High School in Newark, NJ. Brandon earned his Bachelor of Music in Music Education, with a concentration in voice from Westminster Choir College in Princeton, NJ ('16). Prior to this, Brandon served as an elementary school general music and vocal music teacher for Hamilton Public Schools, as well as music director and conductor for Bristol Jr/Sr High School's drama club. A seasoned performer, Brandon was a member of the Westminster Symphonic Choir and Westminster Williamson voices, in which he performed with the NY Philharmonic, Philadelphia Orchestra, New Jersey Symphony Orchestra, Vienna Chamber Orchestra, and the Lincoln Trio. As a collaborative pianist, Brandon has also performed for Rider University's High School and Middle School Music Theatre Workshops. Brandon currently lives in Yardley, PA with his fiancè and three cats.</p>
			<p class="singerBio jessicaK">Jessica Kerler is a recent graduate of Westminster Choir College, where she received her Bachelor's degree in Voice Performance. Most recently, Jessica was a Young Artist for the Ad Astra Music Festival, where she was seen in performances of Handel's Jephtha and as a soloist in Duruflé's Requiem. She is a avid performer, with credits including Falstaff (Dame Quickly), Cendrillon (Armelinde), and The Medium (Madame Flora). During her education, she was a member of the prestigious Westminster Choir. Through this ensemble, she performed at the Spoleto Festival USA for three seasons. Jessica is a member of the Philadelphia Symphonic Choir, and was seen this season in productions of Carmina Burana and Handel's Messiah. She will perform Mahler's 3rd Symphony in May.</p>
			<p class="singerBio jonF">Jonathon Feinstein, tenor, is a recent graduate of Westminster Choir College, where he earned degrees in Voice Performance, Music Education, and Masters of Arts in Teaching. He has appeared as a chorister in venues such as Carnegie Hall, David Geffen Hall, The Academy of Music, with orchestras such as the New York Philharmonic, Philadelphia Orchestra, Vienna Chamber Orchestra, and Berlin Philharmonic, among others. Mr. Feinstein is on the choir roster of Opera Philadelphia, Philadelphia Symphonic Choir, and appears regularly for the Princeton Festival. He is the tenor section and cantor at St. Gregory the Great in Hamilton, New Jersey, as well as the tenor Choral Scholar and soloist for the Voices Choral.</p>
			<p class="singerBio kristinH">Kristin Hill, soprano, comes to you from Dallas, Texas! She graduated in May 2016 from Westminster Choir College with a degree in Music Education. While at Westminster, Kristin was a member of the Westminster Choir. Through that ensemble, she went on three tours around the US and participated in two seasons at the Spoleto Festival in Charleston, South Carolina. Kristin is currently the admissions counselor for the School of Fine and Performing Arts of Westminster College of the Arts. She is very excited to join the Glassbrook Ensemble in their first season.</p>
		</div>
	</div>
</div>
