<div class="row">
	<div id="concertTitle">Christmas Concert Series</div>
</div>
<div class="row" id="concertRow">
	<div class="col-lg-3 offset-lg-1 concertPanel">
		<div class="concertDate">December 3rd</div>
		<div class="concertChurch">The 1867 Sanctuary</div>
		<div class="concertAddress">101 Scotch Rd, Ewing Township, NJ</div>
		<div class="concertTime">7:30pm</div>
	</div>
	<div class="col-lg-3 concertPanel">
		<div class="concertDate">December 10th</div>
		<div class="concertChurch">First Presbyterian Church of Rahway</div>
		<div class="concertAddress">1731 Church St, Rahway, NJ</div>
		<div class="concertTime">7:00pm</div>
	</div>
	<div class="col-lg-3 concertPanel">
		<div class="concertDate">December 17th</div>
		<div class="concertChurch">Neshanic United Methodist Church</div>
		<div class="concertAddress">301 Maple Ave, Branchburg, NJ</div>
		<div class="concertTime">7:30pm</div>
	</div>
</div>