<div class="row contentSection">
	<div class="col-lg-9 offset-lg-2" id="contactSection">
		<div class="row" id="contactInfo">
			<div>You can contact us at <span id="email">glassbrookvocal@gmail.com</span></div>
		</div>
		<div class="row" id="mailingList">
			<div>Join our mailing list and receive that latest news on upcoming perfomances!</div>
		</div>
		<div class="row" id="emailSignUp">
			<div class="col-lg-8">
				<input type="text" name="email" class="form-control" id="emailField" placeholder="Email">
				<button id="emailSubmit">Submit</button>
				<span id="finishedSignUp"></span>
			</div>
		</div>
	</div>
</div>