<div class="row">
	<div>You can contact us at glassbrookvocal@gmail.com</div>
</div>
<div class="row">
	<div>Join our mailing list and recieve that latest news on upcoming perfomances!</div>
</div>
<div class="row">
		<input type="text" name="email" class="form-control" id="emailField" placeholder="Email">
		<button id="emailSubmit">Submit</button>
</div>