<div class="container">
	<div class="row">
		<div class="col-lg-8 offset-lg-2">
			<div id="welcomeMessage">Join us in celebrating the Christmas Season!</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-7 offset-lg-3">
			<img src="assets/winter-program.jpg" id="christmasAd">
		</div>
	</div>
</div>