.contentSection {
	
}

.trapezoid {
	border-bottom: 600px solid black;
	border-left: 0px solid transparent;
	border-right: 200px solid transparent;
	width: 650px;
}

#homeTitle {
	color: white;
	font-family: 'Ovo', serif;
	font-size: 50px;
	text-align: center;
	position: absolute;
	margin-top: 200px;
	margin-left: 200px;
	width: 600px;
	background: rgba(0, 0, 0, .5);
}
#homeSection {
	background: black;
	background-image: url("../assets/image-2.jpg");
	background-repeat: no-repeat;
	background-position: right;
	height: 600px;
	box-shadow: 5px 5px 5px white;
}

#topRow {
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: blue;
}

#headerLogo {
	margin-left: 100px;
	height: 150px;
}

.headerBtn {
	margin-top: 70px;
	font-family: 'Ovo', serif;
	float: left;
	font-size: 24px;
	color: black;
	border-width: 3px;
	border-style: solid;
	border-color: black;
	margin-left: 15px;
	padding: 5px;
}

.headerBtn:hover {
	color: grey;
}

#welcomeMessage {
	color: black;
	font-size: 40px;
	font-family: 'Oleo Script', cursive;
}

#christmasAd {
	height: 500px;
	margin-top: 10px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px #636363;
}

#concertTitle {
	text-align: center;
	padding-left: 28%;
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 50px;
	font-family: 'Oleo Script', cursive;
}

#concertRow {
	margin-left: 15px;
}

.concertPanel {
	background: rgba(70, 171, 227, 1);
	background-image: url("../assets/snowflake-background.jpg");
	box-shadow: 3px 3px 3px #636363;
	margin-right: 20px;
	text-align: center;
	height: 300px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	border-radius: 2px;
	padding-top: 25px;
	margin-bottom: 50px;
	font-family: 'Ovo', serif;
}

.concertDate {
	font-size: 30px;
	font-weight: bold;
}

.concertChurch {
	font-size: 20px;
	margin-top: 10px;
}

.concertTime {
	margin-top: 20px;
	font-size: 18px;
}

.mediaIcon {
	height: 30px;
	margin: 5px;
}

.mediaIcon:hover {
	background: grey;
	border-radius: 5px;
}

#aboutDescription {
	margin-top: 75px;
	margin-bottom: 30px;
	font-size: 20px;
	text-align: center;
	font-family: 'Ovo', serif;
}

#bioTabRow {
	margin-bottom: 10px;
	border-style: solid;
	border-color: black;
	border-width: 0px 0px 2px 0px;
	margin: 0px 150px 0px 130px;
	font-family: 'Ovo', serif;
}

.bioTab {
	font-size: 24px;
	border-width: 2px 2px 0px 2px;
	border-color: black;
	border-style: solid;
	border-radius: 5px 5px 0px 0px;
	text-align: center;
}

.bioTab:hover {
	color: blue;
}

#directorTab {
	color: white;
	background: black;
	box-shadow: 2px 0px 2px grey;
}

#singerTab {
	color: black;
	background: white;
}

#directorBioSection {
	border-radius: 15px;
	margin-left: 50px;
	font-family: 'Ovo', serif;
}

#singerBioSection {
	height: 500px;
	border-radius: 15px;
	padding: 25px;
	display: none;
	margin-left: 130px;
	font-family: 'Ovo', serif;
}

.bioPicture {
	height: 250px;
	border-radius: 5px;
	margin-top: 20px;
}

.bioName {
	font-size: 24px;
	font-weight: bold;
	margin-top: 15px;
}

.bioTitle {
	font-size: 20px;
	font-style: italic;
}

.bioDescription {
	margin-top: 10px;
}

#singerBios {
	display: none;
}

.singerPic {
	height: 100px;
	margin: 5px;
	padding: 5px;
	border-radius: 10px;
}

.singerPic:hover {
	height: 103px;
	margin: 2px 5px 2px 2px;
}

.singerBio {
	display: none;
}

iframe {
	margin: 5px;
}

.form-control {
	width: 300px;
	display: inline;
}

#emailSubmit {
	margin-left: 10px;
}

#contactSection {
	text-align: center;
	font-family: 'Ovo', serif;
	margin-top: 30px;
	font-size: 20px;
	padding-left: 100px;
}

#email {
	font-weight: bold;
	font-size: 24px;
}

#mailingList {
	margin-top: 30px;
}

#emailSignUp {
	margin-top: 15px;
}

footer {
	background: #2272bc;
	padding-top: 50px;
	height: 150px;
	border-style: solid;
	border-color: black;
	border-width: 1px 0px 0px 0px;
}
